@model IEnumerable<RouteMasterFrontend.EFModels.Attraction>



<div class="container mt-5">
<div class="d-flex row overflow-auto " style="height:300px">
    @foreach (var item in Model)
    {
            <div class="card col-md-2 m-1" style="width: 18rem;">
            <img src="@item.Image" class="card-img-top">
		    <div class="card-body">
                <button class="addAtt btn btn-primary" type="button" id="addAttraction" data-name="@item.Name" data-id="@item.Id" data-positionX="@item.PositionX" data-positionY="@item.PositionY">加入</button>
            </div>
        </div>
    }
</div>
</div>
  
      
    

      


