@model RouteMasterFrontend.Models.ViewModels.AttractionVMs.AttractionDetailVM

@{
    ViewData["Title"] = "Details";
}

<div class="container w-75">
    <h1>@($"{Model.Name} ")<span class="badge bg-info">@Model.AttractionCategory</span></h1>

</div>

<h1>Details</h1>

<div>
    <h4>AttractionDetailVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttractionCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clicks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clicks)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
