@model RouteMasterFrontend.Models.ViewModels.AttractionVMs.AttractionDetailVM

@{
    ViewData["Title"] = "Details";
}

@section Styles{
    <style>
        p {
            font-size:1.4em;
        }
    </style>
}

<div class="container w-75 border rounded">
    <div class="mb-3 mt-3">
        <h1><strong>@($"{Model.Name} ")</strong><span class="badge bg-info">@Model.AttractionCategory</span></h1>
    </div>
    
    <div class="mb-5">
        <h3>@($"{Model.Region} {Model.Town}")</h3>
    </div>
    
    <div class="mb-5">
        <h5>
            @($"{Model.Score}")
            @for (int i = 1; i <= 5; i++)
            {
                @if (i <= Math.Round(Model.Score))
                {
                    <i class="fa-solid fa-star"></i>
                }
                else
                {
                    <i class="fa-regular fa-star"></i>
                }
            }
            @($"({Model.ScoreCount}) | 平均停留{Model.Hours}小時({Model.HoursCount}) | 平均花費{Model.Price}元({Model.PriceCount})")
        </h5>
    </div>

    <div class="mb-5">
        <h5>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge bg-primary text-white">@tag</span>
            }
        </h5>
    </div>

    <div class="mb-5">
        <h5>景點介紹:<br><br></h5>
        @Html.Raw(Model.Description)
    </div>
    
    <div class="mb-3">
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <button class="btn btn-secondary "><a asp-action="Index" class="text-white">返回列表</a></button>
    </div>
</div>




@section Scripts{
    
    <script src="https://kit.fontawesome.com/0295eb5403.js" crossorigin = "anonymous" ></script>
   
}