@model IEnumerable<RouteMasterFrontend.EFModels.Cart_ActivitiesDetail>
@section style{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


}
<head>
    <meta name="viewport" content="width=device-width" />
    @* <title>My Razor View</title>*@
    <script src="https://kit.fontawesome.com/c3bf7d3bbb.js" crossorigin="anonymous"></script>
</head>


<div class="partial-view-container">
<table class="table">
    <thead>
            <tr>
                <th>
                    <!-- 您可以在這裡添加表頭的內容，或者直接留空 -->
                </th>
                <th>
                    <!-- 您可以在這裡添加表頭的內容，或者直接留空 -->
                </th>
                <th>
                    <!-- 您可以在這裡添加表頭的內容，或者直接留空 -->
                </th>
                <th>
                    <!-- 您可以在這裡添加表頭的內容，或者直接留空 -->
                </th>
                <th>
                    <!-- 您可以在這裡添加表頭的內容，或者直接留空 -->
                </th>
                <th></th>
            </tr>
       @* <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityProduct.StartTime) 
                @Html.DisplayNameFor(model => model.ActivityProduct.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityProduct.Price)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Cart)
            </th>*@
     
      
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.ActivityProduct.Activity.Name)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityProduct.StartTime) ~
                    @Html.DisplayFor(modelItem => item.ActivityProduct.EndTime)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityProduct.Price)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Cart.Id)
            </td>*@
            <td>
           
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash-can"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table></div>