@model IEnumerable<RouteMasterFrontend.EFModels.Order>

@{
    ViewData["Title"] = "HistoryOrder";
}

<h1>HistoryOrder</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHandleStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHandleStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
