@model IEnumerable<RouteMasterFrontend.EFModels.Cart_ExtraServicesDetail>
@section style{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


}
<head>
    <meta name="viewport" content="width=device-width" />
   @* <title>My Razor View</title>*@
    <script src="https://kit.fontawesome.com/c3bf7d3bbb.js" crossorigin="anonymous"></script>
</head>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="partial-view-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtraServiceProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraServiceProduct.Date)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraServiceProduct.Price)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Cart)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraServiceProduct.ExtraService.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraServiceProduct.Date)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraServiceProduct.Price)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Cart.Id)
            </td>*@
           
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash-can"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
