@model IEnumerable<RouteMasterFrontend.EFModels.Cart>

@{
    var couponId = ViewBag.CouponId;


   
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1>Checkout</h1>
<style>
    .step-container {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
    }

    .step {
        width: 32%;
        text-align: center;
    }

        .step .circle {
            background-color: #ccc;
            color: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            display: inline-block;
            margin-right: 10px;
        }

        .step.active .circle {
            background-color: #007bff;
        }

    .step-divider {
        flex-grow: 1;
        height: 2px;
        background-color: #ccc;
        position: relative;
        top: 15px;
    }

        .step-divider.active {
            background-color: #007bff;
        }
    .container{
        margin-bottom: 20px;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container mt-5">
    <div class="step-container">
        <div class="step active">
            <div class="circle">1</div>
            <span>購物車</span>
        </div>
        <div class="step-divider active"></div>
        <div class="step active">
            <div class="circle">2</div>
            <span>付款訊息</span>
        </div>
        <div class="step-divider"></div>
        <div class="step">
            <div class="circle">3</div>
            <span>確認訂單</span>
        </div>
    </div>
</div>

<form asp-action="CheckoutPost" method="post">
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card" style="margin-top:50px";>
                <div class="card-header" id="heading-@item.Member.Id">
                    <h5 class="mb-0">
                        <button class="btn " type="button" data-toggle="collapse" data-target="#collapse-@item.Member.Id" aria-expanded="true" aria-controls="collapse-@item.Member.Id">
                            訂購人資料
                        </button>
                    </h5>
                </div>
                <div id="collapse-@item.Member.Id" class="collapse" aria-labelledby="heading-@item.Member.Id" data-parent="#accordion">
                    <div class="card-body">
                        <div>
                            <label>帳號:</label>
                            <span class="display-field">@Html.DisplayFor(modelItem => item.Member.Account)</span>
                            <input type="text" class="edit-field" value="@Html.DisplayFor(modelItem => item.Member.Account)" style="display: none;" />
                        </div>
                        <div>
                            <label>姓名:</label>
                            <span class="display-field">@Html.DisplayFor(modelItem => item.Member.FirstName) @Html.DisplayFor(modelItem => item.Member.LastName)</span>
                            <input type="text" class="edit-field" value="@Html.DisplayFor(modelItem => item.Member.FirstName)" style="display: none;" />
                            <input type="text" class="edit-field" value="@Html.DisplayFor(modelItem => item.Member.LastName)" style="display: none;" />
                        </div>
                        <div>
                            <label>地址:</label>
                            <span class="display-field">@Html.DisplayFor(modelItem => item.Member.Address)</span>
                            <input type="text" class="edit-field" value="@Html.DisplayFor(modelItem => item.Member.Address)" style="display: none;" />
                        </div>
                        <button type="button" class="btn btn-secondary edit-button">編輯</button>
                        <button type="button" class="btn btn-primary save-button" style="display: none;">儲存</button>
                    </div>
                 </div>
            </div>

            <div class="card" style="margin-top:50px;">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapse-payment" aria-expanded="true" aria-controls="collapse-payment">付款方式</button>
                    </h5>
                </div>
                <div id="collapse-payment" class="collapse" aria-labelledby="heading-payment">
                    <div class="card-body">
                        @foreach (var paymentMethod in ViewBag.PaymentMethods)
                        {
                            <label style="font-size:18px;">
                                <input type="radio" class="payment-method-radio" name="paymentMethod" value="@paymentMethod.Id">
                                @paymentMethod.Name
                            </label>

                            <i class="fa-regular fa-credit-card"></i>
                        }
                        <p class="selected-payment-method-info"></p>
                     </div>
                    <div class="text-left ali" style="padding-left: 30px;padding-bottom:30px; font-size:14px; color: dimgray;">
                        備註:
                        請注意本平台不會向您收取任何平台交易手續費，但你下單時使用的第三方支付平台可能會向您收取相關手續費，
                        請參考其相關服務政策和規定，並向你所選的交易服務商取得更多資訊。
 
                    </div>
                 </div>
            </div>

            <input type="hidden" name="couponId" value="@couponId">
     
        }
    </div>
<input type="submit" value="Save" class="btn btn-primary" style="margin-top:50px;" />
</form>


@section Scripts {
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
       
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', function () {
                const container = button.closest('.container');
                container.querySelectorAll('.display-field').forEach(el => el.style.display = 'none');
                container.querySelectorAll('.edit-field').forEach(el => el.style.display = 'inline');
                container.querySelector('.edit-button').style.display = 'none';
                container.querySelector('.save-button').style.display = 'inline';
            });
       });

        document.querySelectorAll('.save-button').forEach(button => {
            button.addEventListener('click', function () {
             
                const container = button.closest('.container');
                container.querySelectorAll('.display-field').forEach((el, index) => {
                    el.textContent = container.querySelectorAll('.edit-field')[index].value;
                    el.style.display = 'inline';
                });
                container.querySelectorAll('.edit-field').forEach(el => el.style.display = 'none');
                container.querySelector('.edit-button').style.display = 'inline';
                container.querySelector('.save-button').style.display = 'none';
            });
        });
    
        document.querySelectorAll('.payment-method-radio').forEach(radio =>     {
            radio.addEventListener('change', function () {
                const selectedRadio = document.querySelector('.payment-method-radio:checked');
                if (selectedRadio) {
                    const selectedMethodId = selectedRadio.value;
                    const selectedItemRow = selectedRadio.closest('tr');
                    const selectedPaymentMethodInfo = selectedItemRow.querySelector('.selected-payment-method-info');
                    console.log(123);
                 
                    selectedPaymentMethodInfo.textContent = `Selected Payment Method: ${selectedRadio.nextSibling.textContent} (ID: ${selectedMethodId})`;
                }
            });
        });
    </script>
}






