@model RouteMasterFrontend.Models.Dto.CartDetailDto

<style>

    .custom-container {
        background-color: white;
        padding: 10px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fixed-row-height tr {
        height: 100px; 
    }

    .fixed-row-height thead th {
        font-weight: bold;
        font-size:16px;
        color: darkgray; 
    }


    .fixed-row-height tbody td,
    .fixed-row-height tbody th {
        border-color: lightgrey; 
    }
   
</style>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
    <div class="card-body">
        <div class="container custom-container">
            <!-- ExtraServices -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover fixed-row-height" style="vertical-align: middle; align-items: center;">
                    <colgroup>
                            <col style="width: 100px;" />
                            <col style="width: auto;" />
                            <col style="width: auto;" />
                            <col class="col-md-2" /> 
                            <col class="col-md-2" /> 
                            <col class="col-md-2" /> 
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="align-middle text-center">名稱</th>
                            <th class="align-middle text-center">描述</th>
                            <th class="align-middle text-center">日期</th>
                            <th class="align-middle text-center">價格</th>
                            <th class="align-middle text-center">數量</th>
                        </tr>
                    </thead>
                    <tbody>
                            @{
                                var groupedExtraServices = Model.ExtraServices
                                .GroupBy(e => e.Id);
                            }
                            @foreach (var group in groupedExtraServices)
                            {
                                <tr>
                                    <td>
                                        <img src="@Url.Content(group.First().ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" />
                                    </td>
                                    <td class="align-middle text-center">@group.First().Name</td>
                                    <td class="align-middle text-center">@group.First().Description</td>
                                    <td class="align-middle text-center">@group.First().Date</td>
                                    <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                                        $<span class="price">@group.Sum(item => item.Quantity * item.Price)</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="quantity">@group.Sum(item => item.Quantity)</span>
                                    </td>
                                </tr>
                            }
                        @foreach (var accommodationDTO in Model.Accommodations)
                        {
                            <tr>
                                <td><img src="@Url.Content(accommodationDTO.ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                                <td class="align-middle text-center">@accommodationDTO.AccommodationName</td>
                                <td class="align-middle text-center">@accommodationDTO.RoomName @accommodationDTO.RoomTypeName</td>
                                <td class="align-middle text-center">@accommodationDTO.Date</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">$@accommodationDTO.Price</td>
                                <td class="align-middle text-center">@accommodationDTO.Quantity</td>
                            </tr>
                        }

                            @{
                                var groupActivities = Model.Activities
                                .GroupBy(e => e.Id);
                            }
                            @foreach (var group in groupActivities)
                        {
                            <tr>
                                    <td><img src="@Url.Content(@group.First().ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                                    <td class="align-middle text-center">@group.First().ActivityName</td>
                                    <td class="align-middle text-center">@group.First().Description</td>
                                    <td class="align-middle text-center">@group.First().StartTime ~ @group.First().EndTime </td>
                                    <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">
                                        $<span class="price">@group.Sum(item => item.Quantity * item.Price)</span>
                                        </td>
                                   
                                    <td class="align-middle text-center">
                                        <span class="quantity">@group.First().Quantity</span>
                                        </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div>
                        @await Html.PartialAsync("Coupons")
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='/Carts/Checkout'">
                        <i class="fas fa-shopping-cart"></i>前往結帳

                    </button>
              
                   </div>
                </div>
            </div>

        </div>
    </div>
        </div>
