@model RouteMasterFrontend.Models.Dto.CartDetailDto
<style>

    .custom-container {
        background-color: white;
        padding: 10px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .fixed-row-height tr {
        height: 100px; 
    }

    .fixed-row-height thead th {
        font-weight: bold;
        font-size:16px;
        color: darkgray; 
    }
</style>

    .fixed-row-height tbody td,
    .fixed-row-height tbody th {
        border-color: lightgrey; 
    }
   
</style>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
    <div class="card-body">
        <div class="container custom-container">
            <!-- ExtraServices -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover fixed-row-height" style="vertical-align: middle; align-items: center;">
                    <colgroup>
                            <col style="width: 100px;" />
                            <col style="width: auto;" />
                            <col style="width: auto;" />
                            <col class="col-md-2" /> 
                            <col class="col-md-2" /> 
                            <col class="col-md-2" /> 
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="align-middle text-center">名稱</th>
                            <th class="align-middle text-center">描述</th>
                            <th class="align-middle text-center">日期</th>
                            <th class="align-middle text-center">價格</th>
                            <th class="align-middle text-center">數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var extraServiceDTO in Model.ExtraServices)
                        {
                            <tr>
                                <td><img src="@Url.Content(extraServiceDTO.ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                                <td class="align-middle text-center">@extraServiceDTO.Name</td>
                                <td class="align-middle text-center">@extraServiceDTO.Description</td>
                                <td class="align-middle text-center">@extraServiceDTO.Date</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">$@extraServiceDTO.Price</td>
                                <td class="align-middle text-center">@extraServiceDTO.Quantity</td>
                            </tr>
                        }
                        @foreach (var accommodationDTO in Model.Accommodations)
                        {
                            <tr>
                                <td><img src="@Url.Content(accommodationDTO.ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                                <td class="align-middle text-center">@accommodationDTO.AccommodationName</td>
                                <td class="align-middle text-center">@accommodationDTO.RoomName @accommodationDTO.RoomTypeName</td>
                                <td class="align-middle text-center">@accommodationDTO.Date</td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">$@accommodationDTO.Price</td>
                                <td class="align-middle text-center">@accommodationDTO.Quantity</td>
                            </tr>
                        }
                        @foreach (var activityDTO in Model.Activities)
                        {
                            <tr>
                                <td><img src="@Url.Content(activityDTO.ImageUrl)" alt="圖片" style="max-width: 100px; max-height: 100px;" /></td>
                                <td class="align-middle text-center">@activityDTO.ActivityName</td>
                                <td class="align-middle text-center">@activityDTO.Description</td>
                                <td class="align-middle text-center">@activityDTO.StartTime ~ @activityDTO.EndTime </td>
                                <td class="align-middle text-center" style="font-weight: bold; color: lightseagreen;">$@activityDTO.Price</td>
                                <td class="align-middle text-center">@activityDTO.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='/Carts/Checkout'">
                        <i class="fas fa-shopping-cart"></i>前往結帳

                    </button>
              
                   </div>
                </div>
            </div>

        </div>
    </div>
        </div>*@
