@model IEnumerable<RouteMasterFrontend.EFModels.ActivityProduct>

@{
    ViewData["Title"] = "ActivityProductIndex";
}

<h1>ActivityProductIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <button class="btn btn-primary" onclick="addToCart(@item.Id)">Add to Cart</button>"
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function addToCart(activitiesId){
        $.ajax({
            url:'Carts/AddActivitiesDetail2Cart',
            type:'Post',
            data: { activitiesId: activitiesId },
            success:function(response){
                if(response.success){
                    alert(response.message)
                    reloadCartItems();
                }
            },
            error:function(){
                alert('An error occured while adding to cart.')';
            }
        })

    
    }
    function reloadCartItems(){
        $.ajax({
            url:'/Carts/RefreshCart',
            type:'Get',
            success:function(data){
                $('#Cart').html(data);
            },
            error:function(){
                alert('Failed to reload cart items.')
            }

        })
    }
</script>
