@model IEnumerable<RouteMasterFrontend.Models.ViewModels.Activities.ActivityListVM>

@section Styles{
    <style>
        .image-container {
            width: 200px; /* 設定寬度，可以自行調整 */
            height: 150px; /* 設定高度，可以自行調整 */
            overflow: hidden; /* 確保圖片不會超出容器範圍 */
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 確保圖片填滿整個容器，可能會有部分裁切 */
        }
    </style>
}



<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="image-container">
                        <img src="~/ActivityImages/@item.Image" alt="圖片">
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-action="UploadActivityImages" asp-route-id="@item.Id">上傳圖片</a>|
                <a asp-action="CreateActivityProduct" asp-route-id="@item.Id">新增產品</a>
            </td>
        </tr>
}
    </tbody>
</table>
